a
  color: black
  &:hover
    pointer: cursor !important
  &:hover
    color: black

.ingredients, .terms, .privacy
  padding: 1%
  display: block
.ingredients
  img, div
    display: block
    margin: 20px auto

.dba
  white-space: nowrap

.return-home
  position: relative
  display: block
  font-size: 2em
  a:hover
    text-decoration: none
  .button-link
    color: white
    padding: 7px 12px
    border: 2px solid $red
    background: lighten($red, 30%)
    text-align: center
    width: 200px
    &:hover
      box-shadow: 0 0 5px gray


//fix button with a div
