a
  color: black
  &:hover
    pointer: cursor !important
  &:hover
    color: black

.ingredients, .terms, .privacy, .thankyou
  padding: 1%
  display: block
.ingredients
  img, div
    display: block
    margin: 20px auto
.thankyou
  text-align: center
.dba
  white-space: nowrap

.return-home
  position: relative
  display: block
  font-size: 2em
  a:hover
    text-decoration: none
  .button-link
    color: white
    padding: 7px 12px
    border: 2px solid $red
    background: lighten($red, 10%)
    text-align: center
    width: 200px
    &:hover
      box-shadow: 0 0 5px gray

//remove arrows from forms
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
  appearance: none
  -webkit-appearance: none
  -moz-appearance: none
  margin: 0
