<div id='whyTake' class="why-our-product row">
  <div class="image-container col-sm-5 col-sm-offset-1">
    <img src="images/brainGirlStudying.png" alt="">
  </div>
  <div class="main-text col-sm-5">
    <h1>Get that extra boost of mental Focus</h1>
    <p>Being proactive with your mental wellness can certainly help when you're trying to maintain your overall
      health. Research has shown that taking the correct formula of amino acids can keep the brain function at its
      peak performance and ward off any future decline. IQ+ has been created from a blend of proprietary ingredients
      including B vitamins and other amino acids that have been found to improve brain chemistry and energy
      production and reduce oxidative stress. Brain Boost helps give those stressful and busy physical and mental
      schedules the mental boost they need to focus on a consistent basis.</p>
  </div>
</div>
<div class="middle-divider"></div>
<div id='howDoes' class="how-does-it-work row">
  <div class="main-text col-sm-5 col-sm-offset-1">
    <h1>Brain Supplements:</h1>
    <p>
      <ul class='list-group'>
        <li class='list-group-item'>SKY-ROCKET CONCENTRATION</li>
        <li class='list-group-item'>MAY IMPROVE CREATIVITY</li>
        <li class='list-group-item'>MAY BOOST ENERGY</li>
        <li class='list-group-item'>MAY ENHANCE MEMORY RECALL</li>
        <li class='list-group-item'>MAY ELEVATE WORK PRODUCTIVITY</li>
      </ul>
    </p>
  </div>
  <div class="image-container col-sm-5">
    <img src="images/brainInfograph.png" alt="">
  </div>
</div>
<div class="middle-divider"></div>
   <blockquote>
     <p>"We know what we are but not what we may be."
      <footer>Ophelia in <cite title="Source Title">Hamlet</cite></footer>
     </p>
    </blockquote>
 <div class="middle-divider"></div>
