<div class="why-our-product row">
  <div class="image-container col-sm-5 col-sm-offset-1 revealOnScroll" data-animation='lightSpeedIn'>
    <img src="images/brainGirlStudying.png" alt="">
  </div>
  <div class="main-text col-sm-5 revealOnScroll" data-animation="flipInX">
    <h1>Our Product is the best because</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
      a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
      essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
</div>

<div class="how-does-it-work row">
  <div class="main-text col-sm-5 col-sm-offset-1 revealOnScroll" data-animation="flipInX">
    <h1>Heading</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
      a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
      essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <div class="image-container col-sm-5 revealOnScroll" data-animation='lightSpeedIn'>
    <img src="images/brainInfograph.png" alt="">
  </div>
</div>
