<footer class="footer">
  <div class="copyright row">
    <div class="navbar footer-nav">
      <ul class="nav text-center col-md-6 col-md-offset-3">
        <li class="col-sm-3"><a href="privacy.html" target="_blank">Privacy Policy</a></li>
        <li class="col-sm-3"><a href="terms.html" target="_blank">Terms & Conditions</a></li>
        <li class="col-sm-3"><a href="ingredients.html" target="_blank">Ingredients</a></li>
        <li class="col-sm-3"><a ng-click='modalShown=!modalShown' target="_blank">Contact</a></li>
      </ul>
      <div class="middle_divider"></div>
    </div>
  </div>
  <p class="col-xs-12">&copy 2016 TotalSerum.com</p>
  <div class="disclaimer">
    DISCLAIMER:
    |These statements have not been evaluated by the FDA and are not intended
    |to diagnose, treat, cure, or prevent any disease. Please consult your physician before beginning any
    |program. If there is a change in your medical condition, please notify your physician immediately. All
    |trademarks, logos, & service marks (collectively the "Trademarks") displayed are registered &/or
    |unregistered Trademarks of their respective owners. Contents of this website are copyrighted property of
    |FMG Capital, Inc., the owner of this website. Testimonials are actual quotes by real people who have used
    |our products; photos of product users are
    |either paid models who actually used our products, or stock photos. The photographs on our site are
    |simulated imagery to illustrate the kinds of results that may be achieved with our products. The results
    |described in the customer testimonials and depicted in the simulated imagery are not typical. Everyone's
    |skin is different and your results may vary. Read Terms & Conditions for offer details. Offer available
    |while supplies last. Limit one trial bottle per household.
  </div>
</footer>

<modal-dialog show='modalShown' dialog-title='Contact Info:' height='400px' width='30%'>
  <p>Address...</p>
</modal-dialog>
