<footer class="footer">
  <div class="copyright row">
    <div class="navbar footer-nav">
      <ul class="nav text-center col-md-6 col-md-offset-3">
        <li class="col-sm-3"><a href="#/privacy">Privacy Policy</a></li>
        <li class="col-sm-3"><a href="#/terms">Terms & Conditions</a></li>
        <li class="col-sm-3"><a href="#/ingredients">Ingredients</a></li>
        <li class="col-sm-3"><a ng-click='modalShown=!modalShown'>Contact</a></li>
      </ul>
      <div class="middle_divider"></div>
    </div>
  </div>
  <p class="col-xs-12">&copy 2016 <span class='dba'>IntellectLift.com</span></p>
  <div class="disclaimer">
    DISCLAIMER:
    These statements have not been evaluated by the FDA and are not intended
    to diagnose, treat, cure, or prevent any disease. Please consult your physician before beginning any
    program. If there is a change in your medical condition, please notify your physician immediately. All
    trademarks, logos, & service marks (collectively the "Trademarks") displayed are registered &/or
    unregistered Trademarks of their respective owners. Contents of this website are copyrighted property of
    FMG Capital, Inc., the owner of this website. Testimonials are actual quotes by real people who have used
    our products; photos of product users are
    either paid models who actually used our products, or stock photos. The photographs on our site are
    simulated imagery to illustrate the kinds of results that may be achieved with our products. The results
    described in the customer testimonials and depicted in the simulated imagery are not typical. Everyone's
    skin is different and your results may vary. Read the Terms & Conditions for offer details. Offer available
    while supplies last. Limit one trial bottle per household.
  </div>
</footer>

<modal-dialog show='modalShown' dialog-title='Contact Info:' height='350px' width='30%'>
  <h3>Global Contact Solutions</h3>
  <span style='font-size: 1.4em;'>
    <p>12018 Babbling Brook Rd</p>
    <p>Noblesville, IN 46060</p>
    <p>1-844-222-2205</p>
    <p><em>admin@perfectshapeplan.com</em></p>
  </span>
</modal-dialog>
